.builder-details {

}

.builder-details-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
}

.form-content {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
