.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(234, 239, 241)
}

.app-card {
  height: 80%;
  width: 80%;
  background-color: white;
  border-radius: 3.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
